body {
  margin: 0;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.15em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eee;
  line-height: 1.6em;
}
a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s all;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
hr {
  width: 5%;
  background-color: transparent;
  border: none;
}

/* default button with background */
.defaultBtn {
  background-color: transparent;
  border: 1px solid #000000;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  transition: 0.3s all;
}
.defaultBtn:hover {
  background-color: #003a13;
  color: white;
  cursor: pointer;
  font-weight: 300;
}
/* end of default */
/*  */
/* button with border animation */
.draw-border {
  box-shadow: inset 0 0 0 2px #0044113f;
  color: #000000c7;
  -webkit-transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}

.draw-border::before,
.draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0rem;
  height: 0;
  bottom: 0;
  right: 0;
}

.draw-border::before {
  border-bottom-width: 2px;
  border-left-width: 2px;
}

.draw-border::after {
  border-top-width: 2px;
  border-right-width: 2px;
}

.draw-border:hover {
  color: #00260e;
}

.draw-border:hover::before,
.draw-border:hover::after {
  border-color: #005c34;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.draw-border:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
  transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
  transition-delay: 0s, 0.25s, 0s;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  /* line-height: 1.5; */
  font: 500 1.1rem "Roboto Slab", sans-serif;
  padding: 0.75em 1em;
  letter-spacing: 0.05rem;
  width: 10rem;
}

.btn:focus {
  outline: 2px dotted #003a13;
}

/* end of button with border animation */
/*  */
/* service card */
.a-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid rgb(175, 255, 182);
  width: 250px;
  height: 300px;
  text-align: center;
  background: rgb(19, 19, 19);
  border-radius: 0.8em;
  box-shadow: 0px 0px 10px 0px rgba(130, 130, 130, 0.309);
  transition: 0.3s all;
}
.a-box:hover {
  transform: scale(1.1);
}
.a-box i {
  font-size: 43px;
  margin-top: 30px;
}
.text-container {
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  line-height: 28px;
}

.text-container h3 {
  margin: 10px 0px 10px 0px;
  color: rgb(175, 255, 182);
  font-size: 18px;
  text-transform: capitalize;
}
/* end of service card */

.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-6-14 5:55:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
